$main-color: rgb(23, 31, 57);
/*$secondary-color: rgb(128, 128, 128);*/
$secondary-color: #adadad;
$highlight-color: rgb(232, 204, 51);

$main-text: rgb(255, 255, 255);
$secondary-text: rgb(23, 31, 57);
$highlight-text: rgb(23, 31, 57);
