$main-color: rgb(29, 39, 72);
/*$secondary-color: rgb(128, 128, 128);*/
$secondary-color: #adadad;
$highlight-color: rgb(232, 204, 51);

$main-text: rgb(245, 241, 237);
$secondary-text: $main-color;
$highlight-text: $main-color;
