@import "../../Styles/colorScheme.scss";
@import "../../Styles/utilities.scss";

.tab {
    @include flex-column;
    @include tab($main-text, $highlight-color, $highlight-color, $main-color);

    &__list {
        @include flex-column;
        text-align: center;
        margin: auto 0;
    }

    &__item {
        color: $main-color;
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__title + div {
        padding: 0.7rem 1rem;
    }
}
