@using Portfolio.Components.LandingPageComponents

<div class="landing-page">
    <BackgroundComponent></BackgroundComponent>
    <HeaderComponent Name="Dominik Nita" SubTitle="Software Engineer Student" IsSubTitleAnimated="true"
                     Delay="250" Period="90"></HeaderComponent>
    <ScrollComponent></ScrollComponent>
</div>

@code {

}
