<div class="skills">
    <div class="skills__title"></div>
    <div class="skills__content">
        <div class="about">
            Currently learning Software Engineering at Polytech Paris-Saclay
        </div>
        <div class="languages">
            C# <br />
            Java <br />
            Python <br />
            C++ <br />
        </div>
        <div class="tools">
            Visual Studio <br />
            Github <br />
        </div>
    </div>
</div>
@code {

}
